<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BranchFit | Student Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="page-wrapper">

    <div class="login-panel">
        <h2>Create Account</h2>
        <p>Register to access the guidance system</p>

        <form method="POST" action="/register">

            <div class="form-group">
                <label>Full Name</label>
                <input type="text" name="name" placeholder="Enter your name" required>
            </div>

            <div class="form-group">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="student@example.com" required>
            </div>
                
             <div class="form-group">
                <label>Create Password</label>
                <input type="password" name="password" placeholder="Create password" required>
            </div>

            

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" placeholder="Re-enter password" required>
            </div>


            <button type="submit">Register</button>

            <div class="alt-link">
                <p>Already have an account?
                    <a href="/">Login here</a>
                </p>
            </div>
        </form>
    </div>

</div>

</body>
</html>
